Com.DanLiris.Service.Core.Lib/bin
Com.DanLiris.Service.Core.Lib/obj
Com.DanLiris.Service.Core.WebApi/bin
Com.DanLiris.Service.Core.WebApi/obj
Com.DanLiris.Service.Core.WebApi/appsettings.json
Com.DanLiris.Service.Core.WebApi/Properties/launchSettings.json