Com.DanLiris.Service.Core.Lib/bin
Com.DanLiris.Service.Core.Lib/obj
Com.Danliris.Service.Core.Mongo/bin
Com.Danliris.Service.Core.Mongo/obj
Com.Danliris.Migration.Mongo.Model.Lib/bin
Com.Danliris.Migration.Mongo.Model.Lib/obj
Com.Danliris.Service.Core.Data.Migration/bin
Com.Danliris.Service.Core.Data.Migration/obj
Com.DanLiris.Service.Core.WebApi/bin
Com.DanLiris.Service.Core.WebApi/obj
Com.DanLiris.Service.Core.WebApi/appsettings.json
Com.DanLiris.Service.Core.WebApi/Properties/launchSettings.json