################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Com.DanLiris.Service.Core.Lib/bin
/**/bin
/**/obj
/**/Debug
/.vs
